body { 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 100%;
}

.content-block.home {
    margin-top:25.000em;
}

.track {
    text-align: center;   
    color: #fff;
    border-radius:  0 0 0.625em 0.625em;
    border-top: 0.063em solid #2980B9;
    border-bottom: 0.313em solid #2980B9;
    text-shadow: 0em -0.125em #2980B9;
    background-color: #3498DB;
}

.track a h2 { 
    color: #fff;
}

.col-50.home {
    padding: 0.938em;
    background: #fff;
    text-align: center;    
}
.page-content { 
    background: url(../img/home-bg-blur.png) !important;
}

.profile {
    text-align: center;
}

.profile h2 {
    font-weight: 100;
}

.panel-left .list-block ul {
    background: none;
    border: none;
}

.item-media i.fa {
    border: 0.063em solid;
    border-radius: 1.875em;
    padding: 1.250em 1.250em;
}

.panel-left .list-block {
    color: #fff;
}

.buttonbg {
    width: 100%;
    height: 12.500em;
    position: absolute;
    bottom: 0em;
    background: #000;
}

.blur {
    -webkit-filter: blur(1.250em);
    -moz-filter: blur(1.250em);
    -o-filter: blur(1.250em);
    -ms-filter: blur(1.250em);
    filter: blur(1.250em);
    opacity: 0.6;
}

.cruise { 
    background: url(../img/gif/cruise-low.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -9.375em 0;
}
.speedrun { 
    background: url(../img/gif/speedrun-low.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.freestyle { 
    background: url(../img/gif/freestyle-low.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -18.750em 0;

}
.berg { 
    background: url(../img/nav.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.camera { 
    background: url(../img/camera.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.toolbar-through .page-content {
    padding-bottom: 0em;
    padding-top: 0em;
}

.panel-left {
    background: url(../img/home-bg-blur.png);
}

.list-block .item-link .item-inner {
    background: none;
}

.list-block .item-inner {
    border: none;
}

.navbar a.link {
    color: #fff;   
    font-size: 1.688em;
}

.profile-pic {
    height: 25.000em;
    background-image: url(../img/profile-big.jpg);
    background-size: cover;
}

.acount {
    margin-top: -0.625em;
}

.marker {
    bottom: 6.250em;
    left: 8.125em;
    position: absolute;
    font-size: 2.500em;
    text-shadow: 0.063em 0.063em 0.063em #000;
}

.stats h2 {
    font-weight: 100;
    color:  #fff;
    text-align: center;
    border-bottom: 0.063em solid #fff;
    padding: 1.250em;
    margin: 1.250em;
    font-size: 1.875em;
}

.stats h2 span {
    font-size: 2.500em;
    padding: 1.250em;
}
